@charset "UTF-8";
.container{
	max-width: 960px;
	margin: 0 auto;
	background: #f9f9f9;
	background-color: #EBE9E9;
	font-size: 24px;
	padding: 25px;
}

.parallax{
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    background-image: url(history.jpg);
}
.parallax_two {
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    background-image: url(food.jpg);
}

